<div class="main-container">
  <div class="main-header">{{title}}</div>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                  aria-controls="collapseOne">
            List 1
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <ul *ngFor="let item of list1">
            <li>{{item}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
            List 2
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <ul *ngFor="let item of list2">
            <li>{{item}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
    <div class="card-header" id="headingThree">
    <h5 class="mb-0">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    List 3
    </button>
    </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
    <div class="card-body">
    <!--<ul *ngFor="let item of list3">-->
    <!--<li>{{item}}</li>-->
    <!--</ul>-->
      <div><div>{{templist.lon}}</div><div>{{templist.lat}}</div></div>
    </div>
    </div>
    </div>
  </div>
</div>
